body {
    background-color: hsl(217, 54%, 11%);
    width: 1140px;
}

p {
    background-color: hsl(216, 50%, 16%);
    font-family: 'Space Mono', monospace;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.nftBox {
    width: 25%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    color:hsl(215, 51%, 70%);
    background-color: hsl(216, 50%, 16%);
}

.nftBox img {
    width: 90%;
    height: 90%;
    margin-top: 10px;
    border-radius: 10px;
    align-self: center;
    color: 
}

.title {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

.title:hover {
    color: hsl(178, 100%, 50%);
}

.info-row {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    margin-top: -10px;
}
.price-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    padding-left: 10px;
}

.creation-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
}

.currency {
    float: left;
    background-color: hsl(216, 50%, 16%);
}

.price {
    color: hsl(178, 100%, 50%);
    float: left;
}

.clock{
    float: right;
    background-color: hsl(216, 50%, 16%);
}

.days{
    text-align: right;
    float: right;
    font-weight: 300;
}

.clearfix {
    clear: both;
}

.line {
    height: 1px;
    background: hsl(215, 32%, 27%);
    margin: 0px 10px
}

.creation-row {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-image {
    border: 0.5px solid white;
    max-width: 18px;
    background-color: hsl(216, 50%, 16%);
    float: left;
    margin-left: 10px;
}

.author {
    background-color: hsl(216, 50%, 16%);
    font-size: 10px;
    float: left;
    font-weight: 300;
}

.name:hover {
    color: hsl(178, 100%, 50%);
}