body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.nftBox {
    width: 285px;
    margin: auto;
    border-radius: 10px;
    color:hsl(215, 51%, 70%);
    background-color: hsl(216, 50%, 16%);
    padding: 0.75em;
    box-sizing: border-box;
}

.img-wrapper {
    position: relative;
}

.nft-overlay {
    margin: auto;
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: hsl(178, 100%, 50%, 0.5);
    border-radius: 10px;
}

.img-wrapper:hover .overlay {
    opacity: 1;
}

.nft-image {
    border-radius: 10px;
    transition: 0.5s ease;
    max-width: 100%;
    display: block;
}



.title {
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.title:hover {
    color: hsl(178, 100%, 50%);
}

.info-row {
    display: flex;
    justify-content: space-between;;
    align-items: center;
}
.price-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.creation-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.currency {
}

.price {
    color: hsl(178, 100%, 50%);
    padding-left: 5px;
}

.clock{
    padding-right: 5px;
}

.days{
    text-align: right;
    font-weight: 300;
}

.line {
    height: 1px;
    background: hsl(215, 32%, 27%);
}

.creation-row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.74em;
    padding-top: 0.65em;
}

.user-image {
    border: 0.5px solid white;
    max-width: 18px;
    border-radius: 10px;
    align-self: center;
}

.author {
    font-weight: 300;
    margin: 0;
    font-size: 13px;
}

.name {
    color: white;
}

.name:hover {
    color: hsl(178, 100%, 50%);
}